* {
  margin: 0;
  padding: 0;
  
}

body {
  color: #fff;
  background-color: #111;
}


.navbar {
  top: 0;
  width: 100%;
  
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.logo span {
  color: red;
  font-size: 14px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.menu a:hover {
  color: red;
}


.hero {
  background: url('./assets/images/2b643e5517ffeb2aa7094c276bd27b66860ae32b.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 50px;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.hero h1 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero p {
  font-size: 16px;
  margin-bottom: 30px;
}

.btn {
  background: red;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  background: #d10000;
}


.bottom {
  background: #f2f2f2;
  color: #111;
  text-align: center;
  padding: 60px 20px;
}

.bottom h2 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 700;
}

.bottom-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bottom-links a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.bottom-links a:hover {
  color: red;
}
 
.categories {
  background: #fff;
  color: #fff;
  padding: 80px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  position: relative;
  
  border-radius: 4px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  
}

.overlay p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}




.btn-small {
  background: #b30000;
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  font-size: 13px;
  border-radius: 3px;
  margin-top: 10px;
  width: fit-content;
}

.btn-small:hover {
  background: #900;
}

.popular {
  background: #f6f6f6;
  
}

.h2{
    background-color:#f6f6f6;
    color: #111;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: 200px;
 
  margin-bottom: 15px;
}

.product h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product p {
  font-size: 13px;
  color: #444;
}

.product.active {
  position: relative;
}

.product.active .btn-small {
  display: block;
  margin: 15px auto 0;
}


.bottom {
  background: #f2f2f2;
  color: #111;
  text-align: center;
  padding: 60px 20px;
}

.bottom h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.bottom-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bottom-links a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .grid{
         grid-template-columns: repeat(2, 1fr);
    }
     
    .products{
        
         grid-template-columns: repeat(2, 1fr);
    }
 
}

@media (max-width: 600px) {
    .grid{
       grid-template-columns: 1fr; 
    }
    .products{
         grid-template-columns: 1fr;
    }
 
}