
body {
  background: #0d0d0d;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}


.header {
  padding: 20px 0 70px 0;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

    .nav__links {
      display: flex;
      gap: 30px;

      a {
        color: #bfbfbf;
        transition: .3s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .hero__left {

      h1 {
        font-size: 50px;
        line-height: 1.2;

        span {
          color: #c7c7c7;
          font-weight: 300;
        }
      }

      p {
        color: #a0a0a0;
        width: 80%;
        margin: 25px 0 35px 0;
      }

      .hero__btns {
        display: flex;
        gap: 20px;

        .btn1 {
          background: #fff;
          color: #000;
          padding: 12px 30px;
          border-radius: 30px;
          font-weight: 600;
        }

        .btn2 {
          border: 1px solid #fff;
          color: #fff;
          padding: 12px 30px;
          border-radius: 30px;
        }
      }
    }

    .hero__right img {
      width: 100%;
      filter: brightness(.9);
    }
  }
}



.services {
  padding: 80px 0;

  h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  .services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .service-card {
      background: #111;
      padding: 30px;
      border-radius: 12px;
      border: 1px solid #222;
      transition: .3s;

      &:hover {
        border-color: #444;
      }

      h3 {
        font-size: 22px;
        margin-bottom: 15px;
      }

      p {
        color: #b5b5b5;
        line-height: 1.5;
      }
    }
  }
}


.projects {
  padding: 90px 0;

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    .project-card {
      background: #111;
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid #222;
      transition: .3s;

      &:hover {
        border-color: #444;
      }

      img {
        width: 100%;
        display: block;
      }

      .info {
        padding: 20px;

        h4 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        p {
          color: #b5b5b5;
          line-height: 1.5;
        }
      }
    }
  }
}

