/* MOBILE 900px */
@media (max-width: 900px) {


  .nav__links {
    display: none;
  }


  .hero {
    grid-template-columns: 1fr;
    text-align: center;

    .hero__left p {
      width: 100%;
    }

    .hero__btns {
      justify-content: center;
    }

    .hero__right img {
      width: 70%;
      margin: 0 auto;
      display: block;
    }
  }

 
  .services__grid {
    grid-template-columns: 1fr 1fr;
  }

 
  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
}



@media (max-width: 600px) {

  .services__grid,
  .projects__grid {
    grid-template-columns: 1fr;
  }

  .hero__right img {
    width: 90%;
  }
}
